*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gothic A1', sans-serif;
	font-size: 18px;
}

#curs{
	font-family: 'Dancing Script', cursive;
}

.bg{
	background-image: linear-gradient(#EDF6FD, white);
}


.center{
	text-align: center;
	width: 100%;
	display: inline-block;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	text-decoration: none;
	color: white;
}

.fbg{
	background-color: #3F4045;
}

.gmap_canvas{
	height: 60vh;
	width: 100%;
}

.dp{
	display: inline;
}
