*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gothic A1', sans-serif;
	font-size: 18px;
}

#logome{
	width: 28px;
}

.bg{
	background-color: #EDF6FD;
}

nav{
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

#me{
	width: 100%;
}

footer {
  	bottom:0px;
    width:100%;
    background:#999;
}

.fbg{
	background-color: #3F4045;
}

#curs{
	font-family: 'Dancing Script', cursive;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	text-decoration: none;
	color: white;
}

.center{
	text-align: center;
	width: 100%;
	display: inline-block;
}

ul{
	list-style-type: none;
	font-weight: normal;
	text-align: justify;
	line-height: 2;
}

.img{
	height:600px;
}