*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gothic A1', sans-serif;
	font-size: 18px;
}

.bg{
	background-image: linear-gradient(#EDF6FD, white);
}

.bg2{
	background-color: white;
}

nav{
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

#me{
	min-width: 200px;
	width: 100%;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.5)));
}

.large{
	font-size: 25px;
}

footer {
  	bottom:0px;
    width:100%;
    background:#999;
}

.fbg{
	background-color: #3F4045;
}

#curs{
	font-family: 'Dancing Script', cursive;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	text-decoration: none;
	color: white;
}

.center{
	text-align: center;
	width: 100%;
	display: inline-block;
}

ul{
	list-style-type: none;
	font-weight: bold;
	text-align: justify;
}

.img{
	height:300px;
	width: 300px;
	border-radius: 50% 50% 50% 50%;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.5)));
}